//  @import "variables";

 .button {
   transition: background 400ms;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
   border-radius: 4px;
   
   font-family: 'Roboto', sans-serif;
   font-style: medium;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;

   text-align: center;
   letter-spacing: 1.25px;
   text-transform: uppercase;

   &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
   }
 }

 .button--outline {
  border-radius: 10px;
  background-color: none;
 }

 .button__container {
   padding: 0;
   margin: 0;
   width: 94px;
   height: 36px;
   border: 0;
   outline: 0;
 }

 .button--secondary {
   background-color: black;
   color: #2196F3;
 }

 .button--primary {
   background-color: #2196F3;
   color: #FFFFFF;

   &:hover {
     background: #42A5F5;
   }
 }

 .button--danger {
   background: #FCE7E7;
   color: #E53935;
 }

 .button--warning {
   background: #FFF5E5;
   color: #FFA000;
 }

 .button--success {
   background: #ECF9F3;
   color: #00C853;
 }
