<h1 class="oyc-h-1">
  UI kit preview page
</h1>

<h2 class="oyc-h-2">Headings</h2>

<h3 class="oyc-h-3">h1</h3>
<h1 class="oyc-h-1--lg">Here is the text</h1>
<h1 class="oyc-h-1">Here is the text</h1>
<h1 class="oyc-h-1-sm">Here is the text</h1>

<h3 class="oyc-h-3">h2</h3>
<h2 class="oyc-h-2--lg">Here is the text</h2>
<h2 class="oyc-h-2">Here is the text</h2>
<h2 class="oyc-h-2-sm">Here is the text</h2>

<h3 class="oyc-h-3">h3</h3>
<h3 class="oyc-h-3--lg">Here is the text</h3>
<h3 class="oyc-h-3">Here is the text</h3>
<h3 class="oyc-h-3-sm">Here is the text</h3>

<h3 class="oyc-h-3">h4</h3>
<h4 class="oyc-h-4--lg">Here is the text</h4>
<h4 class="oyc-h-4">Here is the text</h4>
<h4 class="oyc-h-4-sm">Here is the text</h4>

