<h1>Let's open your city!</h1>

<oyc-button [severity]="'primary'"></oyc-button>
<oyc-button 
  [severity]="'primary'" 
  [shape]="'outlined'">
</oyc-button>

<oyc-button [severity]="'secondary'"></oyc-button>

<oyc-button [severity]="'danger'"></oyc-button>
<oyc-button 
  [severity]="'danger'" 
  [shape]="'outlined'">
</oyc-button>

<oyc-button [severity]="'warning'"></oyc-button>
<oyc-button 
  [severity]="'warning'" 
  [shape]="'outlined'"> 
</oyc-button>

<oyc-button [severity]="'success'"></oyc-button>
<oyc-button 
  [severity]="'success'" 
  [shape]="'outlined'">
</oyc-button>
