// button--contained

// primary

$color-primary-blue: #2196F3;
$color-primary-white: #fff;

// secondary 
$color-secondary-white: #E3F2FD;
$color-secondary-blue: #2196F3;

// danger
$color-danger-white: #FCE7E7;
$color-danger-red: #E53935;

// warning
$color-warning-white: #FFF5E5;
$color-warning-yellow: #FFA000;

// success
$color-success-white: #ECF9F3;
$color-success-green: #00C853;

// button--outlined

// primary 
$color-primary-white-outlined: rgba(33, 150, 243, 0.04);

// danger
$color-danger-red-outlined: #C62828;
$color-danger-white-outlined: rgba(198, 40, 40, 0.04);

// warning 
$color-warning-white-outlined: rgba(255, 160, 0, 0.04);

// success 
$color-success-white-outlined: rgba(0, 200, 83, 0.04);
